{% extends "index.html" %}
{% block content %}
<a href="{{url_for('index')}}">Main Site</a><br>
{% if error %}
<h3>{{error}}</h3>
{% endif %}
<div>
    <h3>Add New Movie</h3>
    <form method="post" action="#">
        <label>Name
        <input name="name" type="text" maxlength="100"/>
        </label>
        <label>Description
        <input name="desc" type="text" maxlength="255"/>
        </label>
        <label>Rating
        <input name="rating" type="number" step="0.01" min="1" max="10" />
        </label>
        <button type="submit" name="submit" value="movies">Add</button>
    </form>
</div>
{% endblock %}